@import "../abstract/variables";
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: $anasyafa-sidebardark;
    min-height: 100vh;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
  }
  
  .sidebar {
    width: 100%;
    background: $anasyafa-sidebardark;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: auto;
    display: flex;
    flex-direction: column;
  
    .profile {
      text-align: center;
      padding: 20px;
      border-bottom: 1px solid $profil-border-color;
  
      img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
      }
  
      h3 {
        margin: 10px 0 0 0;
      }
    }
  
    .nav {
      padding: 20px 0;
  
      ul {
        list-style: none;
        padding: 0;
  
        li {
          padding: 1px 20px;
          border-bottom: 1px solid $profil-border-color;
  
          &.active,
          &:hover {
            background-color: $button-warning-bg;
          }
  
          &.active a,
          &:hover a {
            color: $anasayfa-bodydark;
          }
  
          a {
            text-decoration: none;
            color: #333;
            display: flex;
            align-items: center;
  
            img {
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
  
  .main-content {
    flex-grow: 1;
    padding: 20px;
    background: $anasayfa-bodydark;
    h3{
        color: $button-warning-bg;
      }
      h4{
        color: $button-warning-bg;
      }
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $anasayfa-bodydark;

  
    .title {
      display: flex;
      align-items: center;
      color: $button-warning-bg;
  
      img {
        margin-right: 10px;
      }
    }
  
    .search {
      display: flex;
      align-items: center;
      margin-right: 5%;
  
      input {
        padding: 10px;
        border: 1px solid $border-color-darkwhite;
        border-radius: 10px;
        outline: none;
        margin-right: 10px;
      }
  
      button {
        padding: 10px;
        border-radius: 0 4px 4px 0;
        cursor: pointer;
        outline: none;
        border: none;
        background: transparent;
  
        img {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
  
  .content {
    display: flex;
    flex-direction: column;
    padding: 5%;
  }
  @media (min-width: 768px) {
    .container {
      flex-direction: row;
    }
  
    .sidebar {
      width: 250px;
      height: auto;
    }
  
    .main-content {
      padding: 20px;
      width: 80%;
    }
  
    .header {
   
  
      .title {
        width: auto;
        padding: 0;
  
        div {
          display: flex;
        }
      }
  
      .search {
        margin-right: 0;
      }
    }
  
    .content {
      flex-direction: row;
      padding: 20px;
    }
  
  
  }
  @media (min-width: 1024px) {
    .sidebar {
      width: 15%;
    }
  
    .header {
      .title {
        width: 15%;
        background: $anasyafa-sidebardark;
        color: $button-warning-bg;
      }
    }
  }
  
  @media (max-width: 768px) {
    .header {
      .title {
        display: none;
      }
    }
  
  
  }