.detail-btn {
  background: rgba(40, 152, 236, 1);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-right: 5px;
}

.detailnew-btn {
  background: red;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.detailekle-btn {
  background: #23cf51;
  color: white;
  border: none;
  padding: 8px;
  cursor: pointer;
  margin-top: 1%;

}

.form-btn {
  background: rgba(40, 152, 236, 1);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-left: 30%;
}

.formvazgec-btn {
  background: red;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-left: 1%;
}
.formsil-btn {
  background: red;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-right: 5px;

}
.detayonayla-btn {
  background: rgba(40, 152, 236, 1);
  color: white;
  border: none;
  width: 80%;
  cursor: pointer;
  min-height: 30px;
  
}

.detayvazgec-btn {
  background: red;
  color: white;
  border: none;
  width: 80%;
  cursor: pointer;
  min-height: 30px;
  
}
@media (max-width: 768px) {


  .detail-btn,
  .detailnew-btn {
    margin-top: 2%;
  }


}
