@import "../abstract/variables";

.m-1 {
    margin: $uzunluk-1;
  }
  
  .m-2 {
    margin: $uzunluk-2;
  }
  
  .m-3 {
    margin: $uzunluk-3;
  }
  
  .m-4 {
    margin: $uzunluk-4;
  }
  

.m-5 {
  margin: $uzunluk-5;
}

.m-10 {
  margin: $uzunluk-10;
}

.m-15 {
  margin: $uzunluk-15;
}

.m-20 {
  margin: $uzunluk-20;
}

.m-25 {
  margin: $uzunluk-25;
}

.m-30 {
  margin: $uzunluk-30;
}

.m-35 {
  margin: $uzunluk-35;
}

.m-40 {
  margin: $uzunluk-40;
}

.m-45 {
  margin: $uzunluk-45;
}

.m-50 {
  margin: $uzunluk-50;
}

.m-55 {
  margin: $uzunluk-55;
}

.m-60 {
  margin: $uzunluk-60;
}

.m-65 {
  margin: $uzunluk-65;
}

.m-70 {
  margin: $uzunluk-70;
}

.m-75 {
  margin: $uzunluk-75;
}

.m-80 {
  margin: $uzunluk-80;
}

.m-85 {
  margin: $uzunluk-85;
}

.m-90 {
  margin: $uzunluk-90;
}

.m-95 {
  margin: $uzunluk-95;
}

.m-100 {
  margin: $uzunluk-100;
}

// Utility Classes for Margin (Top)
.mt-1 {
    margin: $uzunluk-1;
  }
  
  .mt-2 {
    margin: $uzunluk-2;
  }
  
  .mt-3 {
    margin: $uzunluk-3;
  }
  
  .mt-4 {
    margin: $uzunluk-4;
  }
  

.mt-5 {
  margin-top: $uzunluk-5;
}

.mt-10 {
  margin-top: $uzunluk-10;
}

.mt-15 {
  margin-top: $uzunluk-15;
}

.mt-20 {
  margin-top: $uzunluk-20;
}

.mt-25 {
  margin-top: $uzunluk-25;
}

.mt-30 {
  margin-top: $uzunluk-30;
}

.mt-35 {
  margin-top: $uzunluk-35;
}

.mt-40 {
  margin-top: $uzunluk-40;
}

.mt-45 {
  margin-top: $uzunluk-45;
}

.mt-50 {
  margin-top: $uzunluk-50;
}

.mt-55 {
  margin-top: $uzunluk-55;
}

.mt-60 {
  margin-top: $uzunluk-60;
}

.mt-65 {
  margin-top: $uzunluk-65;
}

.mt-70 {
  margin-top: $uzunluk-70;
}

.mt-75 {
  margin-top: $uzunluk-75;
}

.mt-80 {
  margin-top: $uzunluk-80;
}

.mt-85 {
  margin-top: $uzunluk-85;
}

.mt-90 {
  margin-top: $uzunluk-90;
}

.mt-95 {
  margin-top: $uzunluk-95;
}

.mt-100 {
  margin-top: $uzunluk-100;
}

// Utility Classes for Margin (Right)
.mr-1 {
    margin: $uzunluk-1;
  }
  
  .mr-2 {
    margin: $uzunluk-2;
  }
  
  .mr-3 {
    margin: $uzunluk-3;
  }
  
  .mr-4 {
    margin: $uzunluk-4;
  }
  

.mr-5 {
  margin-right: $uzunluk-5;
}

.mr-10 {
  margin-right: $uzunluk-10;
}

.mr-15 {
  margin-right: $uzunluk-15;
}

.mr-20 {
  margin-right: $uzunluk-20;
}

.mr-25 {
  margin-right: $uzunluk-25;
}

.mr-30 {
  margin-right: $uzunluk-30;
}

.mr-35 {
  margin-right: $uzunluk-35;
}

.mr-40 {
  margin-right: $uzunluk-40;
}

.mr-45 {
  margin-right: $uzunluk-45;
}

.mr-50 {
  margin-right: $uzunluk-50;
}

.mr-55 {
  margin-right: $uzunluk-55;
}

.mr-60 {
  margin-right: $uzunluk-60;
}

.mr-65 {
  margin-right: $uzunluk-65;
}

.mr-70 {
  margin-right: $uzunluk-70;
}

.mr-75 {
  margin-right: $uzunluk-75;
}

.mr-80 {
  margin-right: $uzunluk-80;
}

.mr-85 {
  margin-right: $uzunluk-85;
}

.mr-90 {
  margin-right: $uzunluk-90;
}

.mr-95 {
  margin-right: $uzunluk-95;
}

.mr-100 {
  margin-right: $uzunluk-100;
}

// Utility Classes for Margin (Bottom)
.mb-1 {
    margin: $uzunluk-1;
  }
  
  .mb-2 {
    margin: $uzunluk-2;
  }
  
  .mb-3 {
    margin: $uzunluk-3;
  }
  
  .mb-4 {
    margin: $uzunluk-4;
  }
  

.mb-5 {
  margin-bottom: $uzunluk-5;
}

.mb-10 {
  margin-bottom: $uzunluk-10;
}

.mb-15 {
  margin-bottom: $uzunluk-15;
}

.mb-20 {
  margin-bottom: $uzunluk-20;
}

.mb-25 {
  margin-bottom: $uzunluk-25;
}

.mb-30 {
  margin-bottom: $uzunluk-30;
}

.mb-35 {
  margin-bottom: $uzunluk-35;
}

.mb-40 {
  margin-bottom: $uzunluk-40;
}

.mb-45 {
  margin-bottom: $uzunluk-45;
}

.mb-50 {
  margin-bottom: $uzunluk-50;
}

.mb-55 {
  margin-bottom: $uzunluk-55;
}

.mb-60 {
  margin-bottom: $uzunluk-60;
}

.mb-65 {
  margin-bottom: $uzunluk-65;
}

.mb-70 {
  margin-bottom: $uzunluk-70;
}

.mb-75 {
  margin-bottom: $uzunluk-75;
}

.mb-80 {
  margin-bottom: $uzunluk-80;
}

.mb-85 {
  margin-bottom: $uzunluk-85;
}

.mb-90 {
  margin-bottom: $uzunluk-90;
}

.mb-95 {
  margin-bottom: $uzunluk-95;
}

.mb-100 {
  margin-bottom: $uzunluk-100;
}

// Utility Classes for Margin (Left)
.ml-1 {
    margin: $uzunluk-1;
  }
  
  .ml-2 {
    margin: $uzunluk-2;
  }
  
  .ml-3 {
    margin: $uzunluk-3;
  }
  
  .ml-4 {
    margin: $uzunluk-4;
  }
  

.ml-5 {
  margin-left: $uzunluk-5;
}

.ml-10 {
  margin-left: $uzunluk-10;
}

.ml-15 {
  margin-left: $uzunluk-15;
}

.ml-20 {
  margin-left: $uzunluk-20;
}

.ml-25 {
  margin-left: $uzunluk-25;
}

.ml-30 {
  margin-left: $uzunluk-30;
}

.ml-35 {
  margin-left: $uzunluk-35;
}

.ml-40 {
  margin-left: $uzunluk-40;
}

.ml-45 {
  margin-left: $uzunluk-45;
}

.ml-50 {
  margin-left: $uzunluk-50;
}

.ml-55 {
  margin-left: $uzunluk-55;
}

.ml-60 {
  margin-left: $uzunluk-60;
}

.ml-65 {
  margin-left: $uzunluk-65;
}

.ml-70 {
  margin-left: $uzunluk-70;
}

.ml-75 {
  margin-left: $uzunluk-75;
}

.ml-80 {
  margin-left: $uzunluk-80;
}

.ml-85 {
  margin-left: $uzunluk-85;
}

.ml-90 {
  margin-left: $uzunluk-90;
}

.ml-95 {
  margin-left: $uzunluk-95;
}

.ml-100 {
  margin-left: $uzunluk-100;
}
