@import "../abstract/variables";


// Utility Classes for Padding
.p-5 {
  padding: $uzunluk-5;
}

.p-10 {
  padding: $uzunluk-10;
}

.p-15 {
  padding: $uzunluk-15;
}

.p-20 {
  padding: $uzunluk-20;
}

.p-25 {
  padding: $uzunluk-25;
}

.p-30 {
  padding: $uzunluk-30;
}

.p-35 {
  padding: $uzunluk-35;
}

.p-40 {
  padding: $uzunluk-40;
}

.p-45 {
  padding: $uzunluk-45;
}

.p-50 {
  padding: $uzunluk-50;
}

.p-55 {
  padding: $uzunluk-55;
}

.p-60 {
  padding: $uzunluk-60;
}

.p-65 {
  padding: $uzunluk-65;
}

.p-70 {
  padding: $uzunluk-70;
}

.p-75 {
  padding: $uzunluk-75;
}

.p-80 {
  padding: $uzunluk-80;
}

.p-85 {
  padding: $uzunluk-85;
}

.p-90 {
  padding: $uzunluk-90;
}

.p-95 {
  padding: $uzunluk-95;
}

.p-100 {
  padding: $uzunluk-100;
}

// Utility Classes for Padding (Top and Bottom)
.pt-5 {
  padding-top: $uzunluk-5;
}

.pt-10 {
  padding-top: $uzunluk-10;
}

.pt-15 {
  padding-top: $uzunluk-15;
}

.pt-20 {
  padding-top: $uzunluk-20;
}

.pt-25 {
  padding-top: $uzunluk-25;
}

.pt-30 {
  padding-top: $uzunluk-30;
}

.pt-35 {
  padding-top: $uzunluk-35;
}

.pt-40 {
  padding-top: $uzunluk-40;
}

.pt-45 {
  padding-top: $uzunluk-45;
}

.pt-50 {
  padding-top: $uzunluk-50;
}

.pt-55 {
  padding-top: $uzunluk-55;
}

.pt-60 {
  padding-top: $uzunluk-60;
}

.pt-65 {
  padding-top: $uzunluk-65;
}

.pt-70 {
  padding-top: $uzunluk-70;
}

.pt-75 {
  padding-top: $uzunluk-75;
}

.pt-80 {
  padding-top: $uzunluk-80;
}

.pt-85 {
  padding-top: $uzunluk-85;
}

.pt-90 {
  padding-top: $uzunluk-90;
}

.pt-95 {
  padding-top: $uzunluk-95;
}

.pt-100 {
  padding-top: $uzunluk-100;
}

// Utility Classes for Padding (Right and Left)
.pl-5 {
  padding-left: $uzunluk-5;
}

.pl-10 {
  padding-left: $uzunluk-10;
}

.pl-15 {
  padding-left: $uzunluk-15;
}

.pl-20 {
  padding-left: $uzunluk-20;
}

.pl-25 {
  padding-left: $uzunluk-25;
}

.pl-30 {
  padding-left: $uzunluk-30;
}

.pl-35 {
  padding-left: $uzunluk-35;
}

.pl-40 {
  padding-left: $uzunluk-40;
}

.pl-45 {
  padding-left: $uzunluk-45;
}

.pl-50 {
  padding-left: $uzunluk-50;
}

.pl-55 {
  padding-left: $uzunluk-55;
}

.pl-60 {
  padding-left: $uzunluk-60;
}

.pl-65 {
  padding-left: $uzunluk-65;
}

.pl-70 {
  padding-left: $uzunluk-70;
}

.pl-75 {
  padding-left: $uzunluk-75;
}

.pl-80 {
  padding-left: $uzunluk-80;
}

.pl-85 {
  padding-left: $uzunluk-85;
}

.pl-90 {
  padding-left: $uzunluk-90;
}

.pl-95 {
  padding-left: $uzunluk-95;
}

.pl-100 {
  padding-left: $uzunluk-100;
}
