@import "../abstract/variables";
.switch-container {
    display: flex;
    align-items: center;
    margin-top: 30vh;
  }
  
  .switch {
    position: relative;

    height: 34px;
  }
  
  .switch-input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .switch-label {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    background-color: $button-primary-color;
    border-radius: 34px;
    transition: 0.4s;
  }
  
  .switch-label::before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 10px;
    bottom: 4px;
    background-color: $switch-primary;
    border-radius: 50%;
    transition: 0.4s;
  }
  
  .switch-input:checked + .switch-label {
    background-color: $switch-primary;
  }
  
  .switch-input:checked + .switch-label::before {
    transform: translateX(26px);
    background-color: $button-primary-color;
  }
  
  .switch-icon {
    font-size: 18px;
  
    
  }
  
  .sun {
  
    height: 30px;
    img{
        height: 30px;
    }

  }
  
  .moon {

    height: 30px;
    img{
        height: 28px;
    }

  }
  @media (max-width: 768px) {


    .switch-container {
   
      margin-top: 10%!important;
    }
  
  
  }
  #loaderContainer {
    position: fixed;
    top: 0vh;
    left: 0vw;
    z-index: 9999;
    min-height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    .loader {
      border: 10px solid white;
      border-radius: 50%;
      border-top: 10px solid #283d5c;
      width: 135px;
      height: 135px;
      -webkit-animation: loaderspin 3s linear infinite; /* Safari */
      animation: loaderspin 3s linear infinite;
      background-color: lightgrey;
    }
    .logoLoader {
      position: absolute;
      width: 85px;
      height: 85px;
      z-index: 2;
    }
  }
  @keyframes loaderspin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }