@import "../abstract/variables";
.table {
    width: 70%;
    background-color: $anasayfa-bodydark;
    box-shadow: 0 0 10px $anasyafa-sidebardark;
    padding: 20px;
    display: none;
    overflow-x: auto;
  
    table {
      width: 100%;
      border-collapse: collapse;
  
      th,
      td {
        padding: 10px;
        text-align: left;
        
        color: $button-primary-color;
        
      }
      td:not(:last-child) {
        border-right: $border-sag;
    }
  
      th {
        background: $anasyafa-sidebardark;
        color: $button-primary-color;
      }
      tr:nth-child(odd) {
        background-color: $anasayfa-bodydark; /* Birinci ve üçüncü satır rengi */
    }

    tr:nth-child(even) {
        background-color: $anasyafa-sidebardark; /* İkinci ve dördüncü satır rengi */
    }
    }
  }
  
  .tablenew {
    width: 100%;
    background-color: $anasayfa-bodydark;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
  
    table {
      width: 100%;
      border-collapse: collapse;
  
      th,
      td {
        padding: 10px;
        text-align: left;
        border:none;
        color: $button-primary-color;
      }
  
      th {
        background: $anasyafa-sidebardark;
        color: $button-primary-color;
      }
      tr:nth-child(odd) {
        background-color: $anasayfa-bodydark; /* Birinci ve üçüncü satır rengi */
    }

    tr:nth-child(even) {
        background-color: $anasyafa-sidebardark; /* İkinci ve dördüncü satır rengi */
    }
    }
  }
  @media (max-width: 830px) {

  
    .table {
      width: 100%;
    
      padding: 10px;
      margin-top: 10%;
  
    }
  } 