@import "../abstract/variables";
.table {
    width: 100%;
    background-color: $button-primary-color;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: none;
    overflow-x: auto;
  
    table {
      width: 100%;
      border-collapse: collapse;
  
      th,
      td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid $profil-border-color;
        color: $button-secondary-bg;
      }
  
      th {
        background: $button-secondary-bg;
        color: $button-primary-color;
      }
      tr:nth-child(odd) {
        background-color: $table-light-odd; /* Birinci ve üçüncü satır rengi */
    }

    tr:nth-child(even) {
        background-color: $table-light-even; /* İkinci ve dördüncü satır rengi */
    }
    }
  }
  
  .tablenew {
    width: 100%;
    background-color: $button-primary-color;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
  
    table {
      width: 100%;
      border-collapse: collapse;
  
      th,
      td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid $profil-border-color;
        color: $button-secondary-bg;
      }
  
      th {
        background: $button-secondary-bg;
        color: $button-primary-color;
      }
    }
  }
  .trodd {
    background-color: $table-light-odd; /* Birinci ve üçüncü satır rengi */
}

.treven {
    background-color: $table-light-even; /* İkinci ve dördüncü satır rengi */
}
.alttableshadow{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}